html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Ensure focus is visible for keyboard navigation */
.user-is-tabbing *:focus {
  outline: 3px solid #6b8e23 !important;
  outline-offset: 2px !important;
}